$neon-yellow: #ffff00;
$neon-red: #ff0000;
$neon-green: #00ff00;
$neon-blue: #00ffff;
$neon-pink: #ff00ff;
$neon-purple: #9d00ff;

h1.header {
  text-align: center;
  font-size: 5vw;
  font-weight: 900;
  text-transform: uppercase;
}

.countdown {
  display: flex;
  justify-content: space-around;
  margin: 20px 10px;

  .days,
  .hours,
  .minutes,
  .seconds {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 8vw;
    font-weight: 900;
    width: 20%;

    span {
      font-size: 0.3em;
      font-weight: 600;
      color: black;
    }
  }

  // .days {
  //   color: $neon-red;
  // }
  // .hours {
  //   color: $neon-blue;
  // }
  // .minutes {
  //   color: $neon-green;
  // }
  // .seconds {
  //   color: $neon-pink;
  // }
}

.runner-log {
  max-width: 500px;
  border: 2px solid #0d0d0d;
  border-radius: 3px;
  margin: 5px auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
