body {
  background-color: #ffffff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

$neon-yellow: #ffff00;
$neon-red: #ff0000;
$neon-green: #00ff00;
$neon-blue: #00ffff;
$neon-pink: #ff00ff;
$neon-purple: #9d00ff;

@mixin light-text {
  opacity: 0.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &.header {
    @include light-text;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 10px;
    font-style: italic;
  }
}

h1 {
  font-size: 5vw;
}

h2 {
  font-size: 4.5vw;
}

hr {
  width: 80%;
  margin: 10vh auto;

  @media screen and (max-width: 720px) {
    & {
      margin: 5vh auto;
    }
  }
}

.countdown {
  display: flex;
  justify-content: space-around;
  margin: 20px 10px;

  .days,
  .hours,
  .minutes,
  .seconds {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 8vw;
    font-weight: 900;
    width: 20%;

    span {
      @include light-text;
      font-size: 0.3em;
      font-weight: 600;
      color: black;
    }
  }

  // .days {
  //   color: $neon-red;
  // }
  // .hours {
  //   color: $neon-blue;
  // }
  // .minutes {
  //   color: $neon-green;
  // }
  // .seconds {
  //   color: $neon-pink;
  // }
}

.runner-logs {
  text-align: center;
  margin: 20px 0px;

  .runner-log {
    max-width: 600px;
    border-bottom: 2px solid #0d0d0d;
    margin: 5px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;

    .details {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      form {
        width: 100%;
      }
    }

    .actions {
      display: flex;
      justify-content: flex-end;
    }

    &:last-child {
      border-bottom: none;
    }

    &.form {
      input {
        width: 30%;
        max-width: 180px;
        margin: 1%;
      }
    }

    .name,
    .distance,
    .elevation {
      font-size: 2vw;
      font-weight: 900;

      @media screen and (max-width: 900px) {
        & {
          font-size: 18px;
        }
      }

      span {
        @include light-text;
        font-weight: 500;
        font-size: 0.75em;
      }
    }
  }
}

.loading-spinner-container {
  margin: 100px 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 720px) {
    & {
      margin: 50px 10px;
    }
  }

  .loading-spinner {
    height: 50px;
    width: 50px;
    border: 15px solid black;
    border-radius: 50px;
    border-bottom-color: transparent;
    animation: spin 1s infinite linear;

    @media screen and (max-width: 720px) {
      height: 20px;
      width: 20px;
      border-width: 5px;
      border-radius: 20px;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.btn-link {
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5vw;
  margin: 5px;
  color: $neon-pink;

  @media screen and (max-width: 1000px) {
    & {
      font-size: 18px;
    }
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
    color: $neon-purple;
  }
}

input {
  box-sizing: border-box;
  text-align: center;
  border: none;
  border-radius: 0px;
  padding: 5px;
  font-weight: 900;

  &::placeholder {
    font-size: 0.75em;
  }
}
